@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>
<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.First().Name)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Customer", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
